body
{
	background-color: rgb(0, 7, 0);
}


h2.sectionHeadingLabel
{
	color: rgb(0, 217, 0);
}


div.section
{
	border: solid thin rgb(0, 17, 0);
	background-color: rgb(0, 10, 0);
	color: rgb(0, 217, 0);
}


a.searchName
{
	color: rgb(0, 217, 0);
}
	a.searchName:visited
	{
		color: rgb(0, 217, 0);
	}


a.icon
{
	color: rgb(0, 217, 0);
}
	a.icon:visited
	{
		color: rgb(0, 217, 0);
	}


input#searchInput
{
	background-color: rgb(0, 10, 0);
	border: none;
	border-bottom: solid 1px rgb(0, 217, 0);

	font-family: "carrois gothic", arial, sans-serif;
	color: rgb(0, 217, 0);
}


input#searchButton
{
	background-color: rgb(17, 17, 17);
	border: solid 1px rgb(0, 127, 0);

	font-family: "carrois gothic", arial, sans-serif;
	color: rgb(0, 127, 0);
}


div.service, div.application
{
	/*margin: 15px;*/
	margin-bottom: 15px;
	color: rgb(0, 217, 0);
}


.themeLabel
{
	color: rgb(0, 217, 0);
	cursor: default;
}


.themeLabelSeparator
{
	color: rgb(0, 217, 0);
	cursor: default;
}


#themeControl_console
{
	text-decoration: underline;
}