body
{
	background-color: rgb(17, 17, 17);
}


h2.sectionHeadingLabel
{
	color: rgb(217, 217, 217);
}


div.section
{
	border: solid thin rgb(127, 127, 127);
	background-color: rgb(57, 57, 57);
	color: rgb(217, 217, 217);
}


a.searchName
{
	color: rgb(217, 217, 217);
}
	a.searchName:visited
	{
		color: rgb(217, 217, 217);
	}


a.icon
{
	color: rgb(217, 217, 217);
}
	a.icon:visited
	{
		color: rgb(217, 217, 217);
	}


input#searchInput
{
	background-color: rgb(57, 57, 57);
	border: none;
	border-bottom: solid 1px rgb(127, 127, 127);

	font-family: "carrois gothic", arial, sans-serif;
	color: rgb(217, 217, 217);
}


input#searchButton
{
	background-color: rgb(37, 37, 37);
	border: solid 1px black;

	font-family: "carrois gothic", arial, sans-serif;
	color: rgb(217, 217, 217);
}


div.service, div.application
{
	/*margin: 15px;*/
	margin-bottom: 15px;
	color: white;
}


.themeLabel
{
	color: rgb(217, 217, 217);
	cursor: default;
}


.themeLabelSeparator
{
	color: rgb(217, 217, 217);
	cursor: default;
}


#themeControl_dark
{
	text-decoration: underline;
}