body
{
	background-color: rgb(217, 217, 217);
}


h2.sectionHeadingLabel
{
	color: rgb(57, 57, 57);
}


div.section
{
	border: solid thin black;
	background-color: white;
	color: rgb(57, 57, 57);
}


a.searchName
{
	color: rgb(57, 57, 57);
}
	a.searchName:visited
	{
		color: rgb(57, 57, 57);
	}


a.icon
{
	color: rgb(57, 57, 57);
}
	a.icon:visited
	{
		color: rgb(57, 57, 57);
	}


input#searchInput
{
	background-color: white;
	border: none;
	border-bottom: solid 1px black;

	font-family: "carrios gothic", arial, sans-serif;
	color: rgb(57, 57, 57);
}


input#searchButton
{
	background-color: rgb(217, 217, 217);
	border: solid 1px black;

	font-family: "carrios gothic", arial, sans-serif;
	color: rgb(57, 57, 57);
}


div.service, div.application
{
	/*margin: 15px;*/
	margin-bottom: 15px;
	color: rgb(57, 57, 57);
}


.themeLabel
{
	color: rgb(57, 57, 57);
	cursor: default;
}


.themeLabelSeparator
{
	color: rgb(57, 57, 57);
	cursor: default;
}


#themeControl_light
{
	text-decoration: underline;
}