body
{
	margin: 0px;
	font-family: "carrois gothic", arial, sans-serif;
}


div#services, div#applications
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	float: left;
}


a.serviceName, a.applicationName
{
	font-size: 14px;
	font-weight: bold;

	color: inherit;
	text-decoration: none;
}

	a.serviceName:visited, a.applicationName:visited
	{
		text-decoration: none;
	}


div#form
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	float: right;
}


input#searchInput
{
	width: 80%;
}


div.sectionHeading
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px 0px 15px;
}


h2.sectionHeadingLabel
{
	margin-left: -15px;
}


div.section
{
	border: solid thin black;
	width: 70%;

	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}


a.searchName
{
	font-size: 14px;
	font-weight: bold;

	text-decoration: none;
}

	a.searchName:visited
	{
		text-decoration: none;
	}


a.icon
{
	font-size: 10px;
	text-decoration: none;
}

	a.icon:visited
	{
		text-decoration: none;
	}

img.icon
{
	border: none;
	height: 16px;
	width: 16px;
}


div.left
{
	float: left;
	width: 33%;
}


div.center
{
	float: left;
	width: 33%;
}


div.right
{
	float: left;
	width: 33%;
}


input
{
	font-size: 12px;
}


#themeControls
{
	float: right;
	padding: 10px;
}